.conteudo{
    color: #ffff;
    text-align: center;
    align-items: center;
    border: 5px solid red;
    margin: 30px;
    padding: 25px;
    padding-right: 50px;
    width: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}   

body{
    background-color: black;
}